body {
  margin: 0;
  font-family: "Roboto";
  font-weight: 800;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(57, 167, 97);
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 60px;
  padding-right: 60px;
}

.navbar a {
  cursor: pointer;
  color: white;
  padding-left: 60px;
  padding-right: 60px;
}

.navbar a:hover {
  text-decoration: none;
  color: white;
  filter: drop-shadow(0px 0px 2px white);
}

.form-inline {
  display: flex;
  gap: 12px;
  padding-right: 60px;
}

.no-pokemon {
  color: black !important;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin-top: 24px;
  margin-bottom: 24px;
  max-width: 1920px;
  width: 100%;  
  margin-left: auto; 
  margin-right: auto;  
}

.arrow-buttons {
  display: flex;
  justify-content: space-between;
  gap: 120px;
}

.arrow-btn {
  cursor: pointer;
  margin-top: 36px;
  width: 50px !important;
  height: 50px !important;
  transition: transform 0.1s ease-in-out, filter 0.1s ease-in-out;
}

.arrow-btn:hover {
  transform: scale(1.03);
  filter: brightness(1.1);
}

#main-content {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 60px;
  padding-right: 60px;
  justify-content: center;
  text-align: center;
  overflow-y: scroll;
}

.load {
  display: flex;
  justify-content: center;
}

.load-more-btn {
  width: 120px;
  margin-top: 24px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: auto;
  max-height: 200px;
}

.card-hover:hover {
  transform: scale(1.05);
  transition: all 400ms ease-in-out;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.main-screen-card {
  color: white !important;
  filter: drop-shadow(0px 0px 2px black);
}

.card-img-top {
  width: 120px;
  height: auto;
}
.card-hover:hover img {
  transform: scale(1.5);
  z-index: 1;
  transition: transform 0.2s ease;
}

#main-page-img {
  height: 80px !important;
  width: 80px !important;
}

#img-card {
  height: 120px !important;
  width: 120px !important;
}

#img-card:hover {
  transform: scale(1.05);
  cursor: pointer;
  z-index: 1;
  animation: wiggle 1.6s ease-in-out;
}

ul.list-group {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}
.display-none {
  display: none !important;
}

.df {
  display: flex;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: none; /* Standardmäßig ausgeblendet */
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.overlay-wrapper {
  background-color: rgba(49, 49, 49, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; 
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.upper-card {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  color: white;
  width: 300px;
  filter: drop-shadow(0px 0px 2px black);
}

.type-icons {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

.type-icon {
  width: 32px;
  height: 32px;
}

.type-name {
  font-size: 14px;
  color: #333;
}

#close-btn {
  border: none;
  background-color: white;
  margin-right: 260px;
  margin-bottom: 12px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  cursor: pointer;
  width: 24px;
}

#close-btn:hover {
  color: rgba(0, 0, 0, 1);
}

.overlay-card img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.overlay-card {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  flex-shrink: 0;
  max-height: 700px;
  z-index: 10000;
  border-radius: 100px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.card-body {
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 18px;
}

.tab-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  height: 270px;
  width: 250px;
}

#nav-home {
  width: 50%;
  height: 220px;
}

.types {
  padding-bottom: 12px;
}

.avatar-name {
  cursor: pointer;
}

footer {
  background-color: rgb(57, 167, 97);
  padding-top: 24px;
  padding-bottom: 24px;
}

footer a {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  transform: scale(1.1);
}

.links {
  display: flex;
  justify-content: space-evenly;
}
.links1 {
  display: flex;
  justify-content: space-evenly;
  gap: 16px;
}
.pokemon-api {
  width: 120px;
}

.links3 {
  display: flex;
  justify-content: space-evenly;
  gap: 16px;
}

#loading-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none; /* Spinner versteckt */
  z-index: 1000;
  width: 70px;
  height: 70px;
}

.pokeball {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(circle, white 50%, red 50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: rotate 2s linear infinite; /* Rotation hinzufügen */
}

.pokeball-top,
.pokeball-bottom {
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: red;
  left: 0;
}

.pokeball-top {
  top: 0;
  border-radius: 50% 50% 0 0;
}

.pokeball-bottom {
  bottom: 0;
  border-radius: 0 0 50% 50%;
}

.pokeball-center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes wiggle {
  0% {
    transform: scale(1.2) rotate(0deg);
  }
  25% {
    transform: scale(1.2) rotate(-5deg);
  }
  50% {
    transform: scale(1.2) rotate(5deg);
  }
  75% {
    transform: scale(1.2) rotate(-5deg);
  }
  100% {
    transform: scale(1.2) rotate(0deg);
  }
}

@media (max-width: 650px) {

  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(57, 167, 97);
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .links {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    gap: 12px;
  }

  .form-inline {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-right: 60px;
    padding-left:  60px;
  }

  #search {
    width: 180px;
    height: 36px;
    margin-left: 12px;
  }
}
